@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Rubik+Moonrocks&family=Taviraj:wght@300;500&family=Ubuntu:wght@400;500&display=swap');
.home{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    background-color: #C9B0D1;
   
}
.navbar{
    height: 5rem;
    width: 100%;    
    display:flex;
    /* margin-top: 15px; */
    position:fixed;
    top: 0;
    overflow: hidden;
    background-color: #C9B0D1;
    
}
.navbar .logo{
    height: 4.3rem;
    margin:10px 0px 0px 40px ;
    width:4.3rem ;
    color: whitesmoke;
    background-color: #5d0b79;
    border-radius: 2.5rem;
        
}
.logo h1{
    text-align: center;
    margin:10px 10px 10px 0px;
    font-family: 'Rubik Moonrocks', cursive;
    font-style: italic;
    font-size: 3.1rem;
}
.navbar ul{
    list-style-type:none;
    text-align: right;   
    overflow: hidden;
    margin-right: 3.7rem;
    font-size: 1.56rem;
    
}
.navbar ul li{
    display: inline-block;
    padding: 0.9rem;
    margin-right: 1.25rem;
}
.nav{
    display: flex;
    position: absolute;
    right: 0px;
}

.liststy{
    background-color: #5d0b79;
    border-radius: 1.25rem;
    color: whitesmoke;
    height: 1.56rem;
}
a{
    color: black;
    box-shadow: inset 0 0 0 0  #545154;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 8.12rem 0 0 0 #545154;
    color:antiquewhite;
  }

.bdy {
    width:auto; 
    display: flex;  
    margin:3rem 0px 0px 70px ;
    height: 100%;
    margin-top: 6.8rem;
    
}
.text{
    width: 37.5rem;
    margin-top: 3rem;
}
.text h1{
    font-family: 'Taviraj', serif;
    font-size: 3rem;
    color:rgb(119, 4, 4);
}
.text p{
    font-size: 1.5rem;
    font-family: 'Ibarra Real Nova', serif;
}
.text ul li{
    background-color: #5d0b79;
    color: whitesmoke;
    border-radius: 20px;
    align-items: center;
    list-style-type: none;
    display: inline-block;
    padding: 17px;
    font-size: 25px;
    margin-right: 60px;
    height: 50px;
    width: 150px;
    text-align: center;
    transition: transform 0.5s;
}

.text ul li:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.image{
    margin:40px 0px 0px 70px ;
    width: 580px;
    height: auto;
}
.image img{
    width: 750px;
    height: 500px;
}

.about, .contact{
    width:auto; 
    display: flex;  
    margin:20px 0px 0px 30px ;
    height: 100%;
    margin-top: 80px;
}
.abouttext{
    text-align: center;
    width: 700px;
    margin-top: 55px;
}
.abouttext h1, .contacttext h1{
    font-family: 'Taviraj', serif;
    font-size: 50px;
    color:rgb(119, 4, 4);
}
.imageabout{
    margin:30px 0px 0px 30px ;
    width: 600px;
    height: auto;
}

.imageabout img, .contactimg img{
    width: 500px;
}
.abouttext p, .contacttext p{
    font-size: 25px;
    font-family: 'Ibarra Real Nova', serif;
}

.contacttext{
    width: 800px;
    text-align: center;
}

.contacttext ul{
    list-style-type: none;
    overflow: hidden;
    
    font-size: 25px;
    align-items: center;
    
}
.contacttext ul li{
    display: inline-block;
    margin-right: 60px;
}
.logosocial li img{
    border-radius: 10px;
    width: 45px;
    height: 45px;
}

#Email{
    width: 350px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
}
.send {
    height: 40px;
    width: 70px;
    background-color: #5d0b79;
    color: whitesmoke;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
    transition: transform 0.5s;
    border-radius: 3px;
}
.send:hover{
    background-color:white;
    color: black;
    cursor: pointer;
    transform: translateY(-5px);
}
.footer{
    height: 80px;
    width: 100%;
    background-color: #24042f;
}

.footer h1{
    color: antiquewhite;
    text-align: center;
    font-size: xx-large;
    margin-top: 30px;
}